<h2 class="text-xl mb-8">Frontend Developer | React & Angular Enthusiast</h2>
<div class="leading-8">
  <p class="">
    currently i am working as skilled Frontend Developer with 3 years of
    experience. In this time i builded modern, responsive and high-performance
    web applications. As an experienced developer especially in React and
    Angular, I focus on mainly responsive and high-quality web aplications.
  </p>
  <p class="my-3">
    Additionally i use TailwindCSS, Angular Material, Bootstrap, and such
    various other styling libraries. Pixel-perfect design and efficient UI
    components are crucial points for me. My algorithmic thinking ability allows
    me to write clean and scalable code while actively leveraging Git and GitHub
    for version control and collaboration.
  </p>
  <p>
    Having worked in Scrum-based agile environments, I thrive in fast-paced
    teams, continuously learning and adapting to new challenges. Passionate
    about delivering top-tier digital experiences, I blend technical expertise
    with a keen eye for UI/UX details.
  </p>
</div>
