<div>
  @for(project of projects; track project.id){
  <a
    [href]="project.link"
    target="_blank"
    class="flex gap-x-12 p-4 my-16 rounded-3xl transition-all duration-500 hover:opacity-100 opacity-70 hover:bg-gray-800 bg-opacity-20"
  >
    <img
      [src]="project.image"
      [alt]="project.projectName"
      class="w-36 h-20 rounded-xl"
    />
    <div class="text-sm">
      <h4 class="text-base font-bold mb-2">{{ project.projectName }}</h4>
      <p>
        {{ project.description }}
      </p>
    </div>
  </a>
  }
  <div class="hover:scale-110 w-fit hover:ml-2 transition-all duration-500">
    <a target="_blank" href="https://github.com/hakankaraahmet"
      >View All Projects
    </a>
  </div>
</div>
